* {
  margin: 0;
  padding: 0;
}

header {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.096);
}

.middle_header {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px;
  align-items: center;

  input {
    padding: 7px;
    border-radius: 9px;
    border: 1px solid;
  }
}

.wallpaper_barber{
  margin: auto;
  max-width: 500px;
  background-color: black;
  text-align: center;
}